
// Variables

// Colors
$primary-color: #A9ACBB;
$secondary-color: #4C506B;
$text-color:#A9ACBB;
$background-color: #F8F9FD;


//font-family
$secondary-font :DM Sans;
$primary-font :DM Sans;
$ternary-font :DM Sans;


//font color
$secondary-font-color: #FFFFFF;


//ternary color
$ternary-text-color:#4C506B;
$ternary-col3-color:#63C89B;
$ternary-graph-color: #453DE0;
$ternary-col4-color:#EB5757;
$ternary-border-color: solid #A9ACBB










// font size

// $font-size-base: 16px;
// $font-size-large: 24px;
// $font-size-small: 12px;
