.header {
  width: auto;
  height: 4.0625rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.nav-item1 {
  color: var(--Text, #4c506b);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.child-item1 {
  color: var(--Crypto-purple, #453de0);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.child-item2 {
  color: var(--Label, #a9acbb);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.vertical-line {
  width: 0.0625rem;
  height: 2.3125rem;
  background: #a9acbb;
  margin: 0 0.625rem;
}

.data{
  background-color: white;
}
// .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active, :where(.css-dev-only-do-not-override-11lehqq).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-active, :where(.css-dev-only-do-not-override-11lehqq).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active, :where(.css-dev-only-do-not-override-11lehqq).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active {
//      background-color: white;
// }

// .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active{
// background-color: white;
// }




.wallet-connect {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
