
@import '../../styles/global.scss';

.crypto-card-wrapper {
  width: 23rem; 
  height: 8.5rem; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 4.5rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.crypto-card {
  .crypto-card-content {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0; 
  }

  .crypto-card-title {
    color: $ternary-text-color;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 1rem; 
    font-style: normal;
    line-height: normal;
    margin-right: 1rem; 
  }

  .crypto-card-avg-container {
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }

  .crypto-card-avg {
    color: $primary-color; 
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 0.9rem; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3rem;
  }

  .crypto-card-avg1 {
    color: $ternary-text-color; 
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 0.9rem; 
    font-style: normal;
    font-weight: 400;
  }

  .crypto-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 0.5rem;
  }

  .crypto-card-date {
    color: $primary-color;
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 1rem; 
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .crypto-card-amount {
    color: $ternary-text-color; 
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 1rem; 
    font-style: normal;
    font-weight: 400;
    margin-left: 5rem; 
  }

  .crypto-card-shib {
    color: $primary-color; 
    font-feature-settings: "liga" off, "clig" off;
    font-family: $primary-font;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    margin-left: -1.4rem; 
  }
}

.show-all {
  margin-top: -2rem; 
  display: flex;
  justify-content: flex-start;
  
  .ant-btn {
    color: $primary-color; 
    border: none;
    font-size: 1.2rem;
    margin-left: 21.99999rem; 
    margin-bottom: 1rem;
  }
}
