.container {
    width: 36.375rem;
    margin-top: 1.56rem;
    margin-left: 3.44rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.3rem;
  }
  
  .balance {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  .text{
    font-size: 0.875rem;
    color: #666;
  }
  