

@import '../../styles/global.scss';



.news-card {
 margin-left:4.5rem;
  width: 23rem;
  height: 17.4375rem;
  border-radius: 0.75rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 2rem;

  .ant-card-cover {
    position: relative;
    height: 9.875rem; 
    overflow: hidden;
  }

  .main-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }

  .ant-card-body {
    padding: 0rem 1rem;
  }

  .content {
    margin: 0.5rem 0rem;

    .headline {
      font-size: 1.2rem;
      color: $ternary-text-color; 
      line-height: 1;
      float: left;
      font-size: 1.5rem;
      
      margin-top: 0.5rem;
    }

    .date {
      font-size: 0.75rem;
      display: block;
      color: $primary-color; 
      margin-top: 0rem;
      line-height: 1;
      float: left;
      clear: left;
      margin-left: 0.1875rem;
      font-size: 0.99rem;
    }

    .summary {
      font-size: 1rem;
      color: $primary-color; 
      margin-bottom: 5rem;
      line-height: 1.05;
      float: left;
      clear: left;
      font-family: $primary-font; 
      font-size: 1.1999rem;
      margin-top: 1rem;
      padding-bottom: 1rem;
      
    }

    
  }
}


.show-all-news .ant-btn {
  color: $primary-color; 
  border: none;
  margin-left:18.6rem;
  font-size: 1.2rem;
}
