.progress-card {
  width: 23.1875rem; // Card width remains the same
  height: 11.5rem; // Card height remains the same
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: #FFF;
  margin-top: 2.56rem;
  margin-left: 1.88rem;
}

.progress-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-title {
  color: #9FA2B2;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 1.125rem; // Font size for the title
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expand-limit-button {
  color: #453DE0;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 1.25rem; // Font size for the button
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-format {
  font-size: 0.8rem; // Font size for progress format remains unchanged
  text-align: center;
}

.progress-percent {
  color: #4C506B;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 1.548rem; // Font size for progress percentage remains unchanged
  font-style: normal;
  font-weight: 700;
  line-height: 1.45;
}

.progress-label {
  color: #9FA2B2;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 0.9rem; // Font size for progress label remains unchanged
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
