// .progress-card {
//     width: 18.75rem; // 300px
//   }
  
//   .progress-info {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
  
//   .progress-title {
//     color: #9FA2B2;
//     font-feature-settings: 'liga' off, 'clig' off;
//     font-family: 'DM Sans';
//     font-size: 1.125rem; // 18px
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//   }
  
//   .expand-limit-button {
//     color: #453DE0;
//     font-feature-settings: 'liga' off, 'clig' off;
//     font-family: 'DM Sans';
//     font-size: 1.209rem; // 19.355px
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//     padding: 0;
//   }
  
//   .progress-circle {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .circle-container {
//     width: 7.5625rem; // 121px
//     height: 7.5625rem; // 121px
//     position: relative;
//   }
  
//   .progress-format {
//     font-size: 0.75rem; // 12px
//     text-align: center;
//   }
  
//   .progress-percent {
//     color: #4C506B;
//     font-feature-settings: 'liga' off, 'clig' off;
//     font-family: 'DM Sans';
//     font-size: 1.548rem; // 24.763px
//     font-style: normal;
//     font-weight: 700;
//     line-height: 1.45; // 23.574px / 16px
//   }
  
//   .progress-label {
//     color: #9FA2B2;
//     font-feature-settings: 'liga' off, 'clig' off;
//     font-family: 'DM Sans';
//     font-size: 0.844rem; // 13.507px
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
//   }
  
.progress-card {
  width: 23.1875rem; // 371px
  height: 11.5rem; // 184px
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: #FFF;
}

.progress-bar-margin {
  margin-bottom: 1.87rem; // Space between ProgressBar and PieChart
}

.progress-info {
  display: flex;
  width: 12.375rem; // 198px
  height: 4.25rem; // 68px
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.progress-title {
  color: var(--Labels, #9FA2B2);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "DM Sans";
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expand-limit-button {
  color: var(--Crypto-purple, #453DE0);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "DM Sans";
  font-size: 1.20969rem; // 19.355px
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  border: none; // remove default button border
  background: none; // remove default button background
  cursor: pointer; // add pointer cursor
}

.progress-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  width: 7.5625rem; // 121px
  height: 7.5625rem; // 121px
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-format {
  font-size: 0.75rem; // 12px
  text-align: center;
}

.progress-percent {
  color: #4C506B;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 1.548rem; // 24.763px
  font-style: normal;
  font-weight: 700;
  line-height: 1.45; // 23.574px / 16px
}

.progress-label {
  color: #9FA2B2;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'DM Sans';
  font-size: 0.844rem; // 13.507px
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}





