.transaction-count-card {
    width: 25rem; 
    height: 10rem; 
    flex-shrink: 0; /* Prevent shrinking */
    border-radius: 0.75rem; /* Rounded corners */
    background: #fff; /* Background color */
    padding: 1rem; /* 16px to rem */
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px to rem */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon-button-container {
    position: absolute;
    top: 1rem; /* 16px to rem */
    left: 1rem; /* 16px to rem */
    margin-right: 1rem; /* gap between button and text */
  }
  
  .icon-button {
    width: 3.5rem; 
    height: 3.5rem; 
    flex-shrink: 0; /* Prevent shrinking */
    background-color: #5c63ed;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover,
    &:focus {
      background-color: #4b52db;
    }
  
    .rotated-arrow {
      transform: rotate(-45deg); /* Rotate the arrow */
      color: white;
    }
  
    svg {
      width: 1.75rem; 
      height: 1.75rem; /* SVG size */
    }
  }
  
  .transaction-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 2.4rem; 
  }
  
  .transaction-count-text {
    color: #9fa2b2;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "DM Sans", sans-serif;
    font-size: 1.150rem; /* Font size */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .transaction-count-number {
    color: #4c506b;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "DM Sans", sans-serif;
    font-size: 2.3rem; /* Font size  */
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /* Adjusted line-height */
    position: absolute;
    top: 1rem; /* 16px to rem */
    right: 1rem; /* 16px to rem */
  }
  